.DS_Store
*.log
*.tmp
*.swp
*~
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/debug/
build/
.metadata
.idea/
.vscode/
